apiVersion: apps/v1
kind: Deployment
metadata:
  name: front-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: front-service
  template:
    metadata:
      labels:
        app: front-service
    spec:
      containers:
      - name: front-service
        image: simondum/front-service:1.0
        ports:
        - containerPort: 3000
        env:
        - name: KAFKA_BROKER
          value: "kafka-service:9092"
        - name: API_URL
          value: "http://api-service:8080/service"
        - name: API_KEY
          value: "SecretKey2026"
---
apiVersion: v1
kind: Service
metadata:
  name: front-service
spec:
  type: NodePort
  selector:
    app: front-service
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30002